
    #a {
        color: rgba(0,0,128);
    } 
    #b {
        color: rgba(0,0,205);
    } 
    #c {
        color: rgba(65,105,225);
    } 
    #d {
        color: rgba(123,104,238);
    } 
    #e {
        color: rgba(100,149,237);
    } 
   